{{define "assertion" -}}
{{if .OnlyReturnsError}}
err := {{template "call" .}}{{end}}

assert.ErrorIs(err, tc.expectedErr)
{{- if or (not .Subtests) .PrintInputs -}}
    , fmt.Sprintf("{{template "message" .}}", {{template "inputs" .}})
{{- end -}}
{{- end}}


{{define "equal"}}assert.Equal{{if or (not .Subtests) .PrintInputs}}f{{end}}{{end}}


{{define "msg"}}{{if or (not .Subtests) .PrintInputs}} , "{{template "message" .}}", {{template "inputs" .}}{{end}}{{end}} 


{{define "function"}}
{{- $f := .}}

func {{.TestName}}(t *testing.T) {
	{{- with .Receiver}}
		{{- if .IsStruct}}
			{{- if .Fields}}
				type fields struct {
				{{- range .Fields}}
					{{Field .}} {{.Type}}
				{{- end}}
				}
			{{- end}}
		{{- end}}
	{{- end}}
	tests := []struct {
		description string
		{{- with .Receiver}}
			{{- if and .IsStruct .Fields}}
				fields fields
			{{- else}}
				{{Receiver .}} {{.Type}}
			{{- end}}
		{{- end}}
		{{- if .TestParameters}}
        {{- if .TestParameters}}
            {{- range .TestParameters}}
                    {{Param .}} {{.Type}}
            {{- end}}
        {{- end}}
		{{- end}}
		{{- range .TestResults}}
			{{Want .}} {{.Type}}
		{{- end}}
		{{- if .ReturnsError}}
			expectedErr error
		{{- end}}
	}{
        {
            description: "",
            // TODO: Add test cases.
        },
	}
	for {{if (or .Subtests (not .IsNaked))}} _, tc := {{end}} range tests {
		{{- if .Subtests}}
		{{- if .Parallel}}tc := tc{{end}}
		t.Run(tc.description, func(t *testing.T) {
			{{- if .Parallel}}t.Parallel(){{end}}
		{{- end}}
            assert := assert.New(t)
            require := require.New(t)

			{{- with .Receiver}}
				{{- if .IsStruct}}
					{{Receiver .}} := {{if .Type.IsStar}}&{{end}}{{.Type.Value}}{
					{{- range .Fields}}
						{{.Name}}: tc.fields.{{Field .}},
					{{- end}}
					}
				{{- end}}
			{{- end}}
			{{- range .Parameters}}
				{{- if .IsWriter}}
					{{Param .}} := &bytes.Buffer{}
				{{- end}}
			{{- end}}
			{{- if and (not .OnlyReturnsError) (not .OnlyReturnsOneValue) }}

				{{template "results" $f}} {{template "call" $f}}
			{{- end}}
			{{- if .ReturnsError}}
                {{template "assertion" $f}}
			{{- end}}
			{{- range .TestResults}}
				{{- if .IsWriter}}
                    {{template "equal" $f}}(tc.{{Want .}}, {{Param .}}.String(){{template "msg" $f}})
				{{- else}}
                    {{- if $f.OnlyReturnsOneValue}}
                        {{template "equal" $f}}(tc.{{Want .}}, {{template "inline" $f}}{{template "msg" $f}})
                    {{- else}}
                        {{template "equal" $f}}(tc.{{Want .}}, {{Got .}}{{template "msg" $f}})
                    {{- end}}
				{{- end}}
			{{- end}}
		{{- if .Subtests }} }) {{- end -}}
	}
}

{{end}}
